### IntelliJ
*.iml
/.idea/*

### Gradle
/out/
/.gradle/
/build/


### Node
/node_modules/
package-lock.json

### Webpack
/src/main/resources/static/index.html
/src/main/resources/static/main.*.bundle.js
